.PaginaPrincipal-Navbar{
    background-color: #DFDDDD;
}

.PaginaPrincipal-Header-Opciones{
    margin-left: 50px;
    width: 100%;
    height: 100%;
    color: #0B92DC; 
    display: flex;
    align-items: flex-end;
}

.PaginaPrincipal-Header-Enlace{
    margin-left: 50px;
    color: #0B92DC;
    text-decoration: none;
}

.PaginaPrincipal-Header-Linea{
    background: #0B92DC;
    height: 2px;
}