.PaginaPrincipal-Noticia-Cancha {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.PaginaPrincipal-Noticia-Texto {
    margin-top: 10%;
    color: #0B92DC;
}

.PaginaPrincipal-Noticia-Linea {
    margin-top: 10px;
    background: #0B92DC;
    height: 1px;
    margin-bottom: 2%;
}

